[tool.poetry]
name = "kaskade"
version = "1.1.3"
description = "kaskade is a terminal user interface for kafka"
authors = ["Saúl Piña <sauljabin@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/sauljabin/kaskade"
repository = "https://github.com/sauljabin/kaskade"
documentation = "https://github.com/sauljabin/kaskade"
keywords = ["kafka", "kaskade"]
classifiers = [
    "Environment :: Console",
    "Operating System :: MacOS",
    "Operating System :: Unix"
]
include = [
    "LICENSE",
]
packages = [
    { include = "kaskade" },
]

[tool.poetry.dependencies]
python = "^3.9"
click = "^8.0.1"
rich = "^12.4.4"
pyfiglet = "^0.8.post1"
textual = "^0.1.12"
confluent-kafka = {extras = ["avro", "json", "protobuf"], version = "^1.9.0"}
PyYAML = "^5.4.1"
typing-extensions = "^4.3.0"
requests = "^2.28.1"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
isort = "^5.9.3"
bandit = "^1.7.0"
unittest = "^0.0"
Faker = "^8.13.2"
coverage = {extras = ["toml"], version = "^5.5"}
autoflake = "^1.4"
toml = "^0.10.2"
pre-commit = "^2.15.0"
flake8 = "^3.9.2"
mypy = "^0.910"
types-PyYAML = "^5.4.10"
types-attrs = "^19.1.0"
types-setuptools = "^57.4.0"
types-toml = "^0.10.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.coverage.run]
source = ["kaskade"]
branch = true
omit = ["*tests/*", "*scripts/*", "*__init__.py", "*kaskade/app.py", "*kaskade/__main__.py"]

[tool.coverage.report]
exclude_lines = ['if __name__ == "__main__":', "@abstractmethod"]

[tool.poetry.scripts]
kaskade = "kaskade.app:main"
kskd = "kaskade.app:main"
