$kaskade-green: #00af87;
$kaskade-orchid: #af5fd7;
$kaskade-orchid-dark: #5b4666;

Header {
   height: 6;
   layout: horizontal;
   dock: top;
}

KaskadeBanner {
    width: 36;
    margin: 0 0 0 1;
}

ConsumerShortcuts {
    width: 27;
    dock: right;
    margin: 1 1 0 0;
}

AdminShortcuts {
    width: 31;
    dock: right;
    margin: 1 1 0 0;
}

DataTable {
    border: solid $kaskade-green 50%;
    height: 100%;

    scrollbar-color: $kaskade-orchid 60%;
    scrollbar-color-active: $kaskade-orchid;
    scrollbar-color-hover: $kaskade-orchid 90%;

    scrollbar-background: $kaskade-orchid-dark;
    scrollbar-background-active: $kaskade-orchid-dark;
    scrollbar-background-hover: $kaskade-orchid-dark;
    scrollbar-corner-color: $kaskade-orchid-dark;
}

DataTable:focus {
    border: $kaskade-green;
}

DataTable > .datatable--header {
    text-style: bold;
    background: $surface;
    color: $kaskade-orchid;
}

DataTable > .datatable--header-hover {
    text-style: bold;
    background: $surface;
    color: $kaskade-orchid;
}

DataTable > .datatable--hover {
    background: $kaskade-green 30%;
}

DataTable > .datatable--cursor {
    background: $kaskade-green 80%;
    color: $text;
}

DataTable > .datatable--fixed {
    background: $surface;
    color: $text;
}

DataTable > .datatable--fixed-cursor {
    background: $kaskade-green 80%;
    color: $text;
}

DataTable > .datatable--even-row {
    background: $kaskade-green 5%;
}

DeleteTopicScreen {
    align: center middle;
}

DeleteTopicScreen > Input {
    border: solid $kaskade-green;
    background: $surface;
    width: 60%;
    padding: 0 0 0 1;
}

DeleteTopicScreen > Input:focus {
    border: solid $kaskade-green;
    background: $surface;
}

FilterTopicsScreen {
    align: center middle;
}

FilterTopicsScreen > Input {
    padding: 0 0 0 1;
    border: solid $kaskade-green 50%;
    background: $surface;
    width: 60%;
}

FilterTopicsScreen > Input:focus {
    border: $kaskade-green;
    background: $surface;
}

.-textual-loading-indicator {
    background: $surface;
    color: $kaskade-orchid;
}

CreateTopicScreen {
    align: center middle;
}

CreateTopicScreen > Container {
    border: $kaskade-green;
    width: 60%;
    height: 21;
    background: $surface;
    padding: 0 1 0 1;
}

CreateTopicScreen > Container > Input {
    padding: 0 0 0 1;
    border: solid $kaskade-green 50%;
    background: $surface;
}

CreateTopicScreen > Container > Input:focus {
    border: $kaskade-green;
    background: $surface;
}

CreateTopicScreen > Container > RadioSet {
    border: solid $kaskade-green 50%;
    width: 100%;
    background: $surface;
}

CreateTopicScreen > Container > RadioSet:focus {
    border: $kaskade-green;
    background: $surface;
}

TopicScreen > ScrollableContainer {
    background: $surface;
    border: $kaskade-green;

    scrollbar-color: $kaskade-orchid 60%;
    scrollbar-color-active: $kaskade-orchid;
    scrollbar-color-hover: $kaskade-orchid 90%;

    scrollbar-background: $kaskade-orchid-dark;
    scrollbar-background-active: $kaskade-orchid-dark;
    scrollbar-background-hover: $kaskade-orchid-dark;
    scrollbar-corner-color: $kaskade-orchid-dark;
}

EditTopicScreen {
    align: center middle;
}

EditTopicScreen > Container {
    border: $kaskade-green;
    width: 60%;
    height: 15;
    background: $surface;
    padding: 0 1 0 1;
}

EditTopicScreen > Container > Input {
    padding: 0 0 0 1;
    border: solid $kaskade-green 50%;
    background: $surface;
}

EditTopicScreen > Container > Input:focus {
    border: $kaskade-green;
    background: $surface;
}

EditTopicScreen > Container > RadioSet {
    border: solid $kaskade-green 50%;
    width: 100%;
    background: $surface;
}

EditTopicScreen > Container > RadioSet:focus {
    border: $kaskade-green;
    background: $surface;
}

ChunkSizeScreen {
    align: center middle;
}

ChunkSizeScreen > ListView {
    border: $kaskade-green;
    width: 60%;
    height: 6;
    background: $surface;
    padding: 0 1 0 1;
}

ChunkSizeScreen > ListView > ListItem.--highlight {
    background: $kaskade-green 90%;
}

ChunkSizeScreen > ListView > ListItem  {
    background: $surface;
}

FilterRecordScreen {
    align: center middle;
}

FilterRecordScreen > Container {
    border: $kaskade-green;
    width: 60%;
    height: 14;
    background: $surface;
    padding: 0 1 0 1;
}

FilterRecordScreen > Container > Input {
    padding: 0 0 0 1;
    border: solid $kaskade-green 50%;
    background: $surface;
}

FilterRecordScreen > Container > Input:focus {
    border: $kaskade-green;
    background: $surface;
}
