$kaskade-green: #00af87;
$kaskade-orchid: #af5fd7;
$kaskade-orchid-dark: #5b4666;

Header {
   height: 6;
   layout: horizontal;
   dock: top;
}

KaskadeBanner {
    dock: right;
    width: 36;
    margin: 0 1 0 0;
}

Shortcuts {
    margin: 0 0 0 1;
}

DataTable {
    border: solid $kaskade-green 50%;
    height: 100%;

    scrollbar-color: $kaskade-orchid 60%;
    scrollbar-color-active: $kaskade-orchid;
    scrollbar-color-hover: $kaskade-orchid 90%;

    scrollbar-background: $kaskade-orchid-dark;
    scrollbar-background-active: $kaskade-orchid-dark;
    scrollbar-background-hover: $kaskade-orchid-dark;
    scrollbar-corner-color: $kaskade-orchid-dark;
}

DataTable:focus {
    border: $kaskade-green;
}

DataTable > .datatable--header {
    text-style: bold;
    background: $surface;
    color: $kaskade-orchid;
}

DataTable > .datatable--header-hover {
    text-style: bold;
    background: $surface;
    color: $kaskade-orchid;
}

DataTable > .datatable--hover {
    background: $kaskade-green 30%;
}

DataTable > .datatable--cursor {
    background: $kaskade-green 80%;
    color: $text;
}

DataTable > .datatable--fixed {
    background: $surface;
    color: $text;
}

DataTable > .datatable--fixed-cursor {
    background: $kaskade-green 80%;
    color: $text;
}

DataTable > .datatable--even-row {
    background: $kaskade-green 5%;
}

SearchScreen > Input {
    padding: 0 0 0 1;
    border: solid $kaskade-green 50%;
    background: $surface;
    width: 60%;
    border-subtitle-color: $text;
}

Input:focus {
    border: $kaskade-green;
    background: $surface;
}

SearchScreen {
    align: center middle;
}

.-textual-loading-indicator {
    background: $surface;
}
