$main-color: #a483e1;
$main-light-color: #b79fe3;
$main-dark-color: #745e9d;
$grey: #e1d9f0;
$green: #a5c75d;

* {
    scrollbar-color-hover: $main-color;
    scrollbar-color: $main-color 20%;
    scrollbar-color-active: $main-color;

    scrollbar-background: $surface;
    scrollbar-background-active: $surface;
    scrollbar-background-hover: $surface;
}

Header {
    dock: top;
    height: 6;
    margin: 0 0 1 1;
}

Footer {
    dock: bottom;
    height: 1;
    background: $surface;
    color: $main-dark-color;
}

Footer > .footer--highlight {
    background: $boost;
    color: $main-color;
}

Footer > .footer--highlight-key {
    background: $main-color;
    color: black;
}

Footer > .footer--key {
    color: black;
    background: $main-dark-color;
}

DataTable > .datatable--header {
    text-style: bold;
    background: $surface;
    color: $main-color;
}

DataTable > .datatable--header-hover {
    text-style: bold;
    background: $surface;
    color: $main-color;
}

DataTable > .datatable--hover {
    background: $main-color 20%;
}

DataTable > .datatable--cursor {
    background: $main-color;
    color: $text;
}

DataTable {
    border: solid $grey;
}

DataTable:focus {
    border: solid $green;
}

DataTable > .datatable--fixed {
    background: $surface;
    color: $text;
}

DataTable > .datatable--fixed-cursor {
    background: $main-color;
    color: $text;
}

Help {
    border: $grey;
}

Input {
    background: $surface;
    color: $text;
    padding: 0 1;
    border: solid $grey;
    width: 100%;
    height: 1;
    min-height: 1;
}

Input:focus {
    border: solid $green;
}

Input > .input--cursor {
    background: $surface;
    color: $text;
    text-style: reverse;
}

Label {
    text-style: bold;
    background: $surface;
    color: $main-color;

    width: 100%;
    text-align: center;
}