Header {
    dock: top;
    height: 6;
    margin: 0 0 1 1;
}

Footer {
    dock: bottom;
    height: 1;
    background: $surface;
    color: $primary-darken-1;
}

Footer > .footer--highlight {
    background: $boost;
    color: $primary;
}

Footer > .footer--highlight-key {
    background: $primary;
    color: black;
}

Footer > .footer--key {
    color: black;
    background: $primary-darken-1;
}

DataTable > .datatable--header {
    text-style: bold;
    background: $surface;
    color: $primary;
}

DataTable > .datatable--header-hover {
    text-style: bold;
    background: $surface;
    color: $primary;
}

DataTable {
    border: solid $secondary-background;
}

DataTable:focus {
    border: heavy $secondary;
}

DataTable > .datatable--hover {
    background: $background-lighten-3;
}

DataTable > .datatable--cursor {
    background: $secondary-lighten-1;
    color: $text;
}

DataTable > .datatable--fixed {
    background: $surface;
    color: $text;
}

DataTable > .datatable--fixed-cursor {
    background: $secondary-lighten-1;
    color: $text;
}

Help {
    border: $boost-darken-3;
}

Input {
    background: $surface;
    color: $text;
    padding: 0 1;
    border: solid $secondary-background;
    width: 100%;
    height: 1;
    min-height: 1;
}

Input:focus {
    border: heavy $secondary;
}

Input > .input--cursor {
    background: $surface;
    color: $text;
    text-style: reverse;
}

Label {
    text-style: bold;
    background: $surface;
    color: $primary;

    width: 100%;
    text-align: center;
}